QORE_RPC_URL=http://localhost:26657
QORE_REST_URL=http://localhost:1317
QORE_MNEMONIC=test test test test test test test test test test test junk
QORE_POOL_ID=1
QORE_DENOM_IN=uqor
QORE_AMOUNT_IN=1000000
QORE_DENOM_OUT=uusdc
QORE_MIN_OUT=1
QORE_BROADCAST=0
